form/response/xml/request-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:element name="full-response">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="list">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="list-item">        
              <xs:complexType> 
                <xs:sequence>
                  <xs:element name="item" minOccurs="1", type="xs:string" />
                </sequence>
              </xs:ComplexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>      



</xs:schema>